src/**
test/**
.vscode/**
.vscode-test/**
.vscode-test*
node_modules/**
dist/**
!dist/extension.cjs
**/*.map
tsconfig.json
esbuild.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock
.npmrc
.gitignore
.git/**
.github/**
coverage/**
*.vsix
